.addon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--addon-size);
  height: var(--addon-size);
}

.addon > * {
  width: 100%;
  height: 100%;
}
