.notification {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: var(--padding-16);
  border-radius: var(--radius-16);
  background: var(--element-bg-lvl-2);
  box-shadow:
    0 -2px 4px 0 var(--element-bg-shadow-light),
    0 4px 8px 0 var(--element-bg-shadow-light),
    0 20px 24px 0 var(--element-bg-shadow-dark);
  font-family: var(--font-family-main);
}

.badgeSlot {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--padding-14);
  padding-right: var(--padding-12);
  padding-bottom: var(--padding-12);
}

.text {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--margin-4);
  min-width: 0;
  padding: var(--padding-16);
}

.title {
  margin: 0;
  width: 100%;
  overflow: hidden;
  color: var(--element-text-primary);
  font-size: var(--font-size-heading-xs);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  text-overflow: ellipsis;
}

.caption {
  margin: 0;
  width: 100%;
  color: var(--element-text-secondary);
  font-size: var(--font-size-body-s);
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
}

.buttonSlot {
  display: flex;
  align-self: stretch;
  flex-shrink: 0;
  align-items: flex-start;
  padding-top: var(--padding-12);
  padding-right: var(--padding-16);
}

.closerSlot {
  display: flex;
  align-self: stretch;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--margin-12);
  padding: var(--padding-12);
}

.divider {
  align-self: stretch;
  width: var(--stroke-1);
  background: var(--element-border-secondary);
}
