/* Слой: palette. Источник: коллекция ColorsPalette в Figma.
   Файл генерируется скриптом sync-tokens — правки руками будут стёрты. */

:root {
  --palette-gray-900: #050607;
  --palette-gray-800: #21252a;
  --palette-gray-700: #31373f;
  --palette-gray-600: #525c69;
  --palette-gray-default: #6d7a8c;
  --palette-gray-400: #b6bcc5;
  --palette-gray-300: #dadee2;
  --palette-gray-200: #f0f2f3;
  --palette-gray-100: #f8f8f9;
  --palette-green-default: #6bb224;
  --palette-green-900: #050902;
  --palette-green-800: #20350b;
  --palette-green-700: #305010;
  --palette-green-600: #50851b;
  --palette-green-400: #b5d991;
  --palette-green-300: #daecc8;
  --palette-green-200: #f0f7e9;
  --palette-green-100: #f8fbf4;
  --palette-orange-900: #0b0801;
  --palette-orange-800: #453007;
  --palette-orange-700: #67480a;
  --palette-orange-600: #ac7911;
  --palette-orange-default: #e5a117;
  --palette-orange-400: #f2d08b;
  --palette-orange-300: #f9e7c5;
  --palette-orange-200: #fcf6e8;
  --palette-orange-100: #fefaf3;
  --palette-red-900: #0a0202;
  --palette-red-800: #3d0c0c;
  --palette-red-700: #5c1212;
  --palette-red-600: #991f1f;
  --palette-red-default: #cc2929;
  --palette-red-400: #e59494;
  --palette-red-300: #f2c9c9;
  --palette-red-200: #faeaea;
  --palette-red-100: #fcf4f4;
  --palette-blue-900: #02030a;
  --palette-blue-800: #0c103d;
  --palette-blue-700: #12185c;
  --palette-blue-600: #1f2999;
  --palette-blue-default: #2936cc;
  --palette-blue-400: #949ae5;
  --palette-blue-300: #c9cdf2;
  --palette-blue-200: #eaebfa;
  --palette-blue-100: #f4f5fc;
  --palette-purple-900: #05020a;
  --palette-purple-800: #1e0c3d;
  --palette-purple-700: #2d125c;
  --palette-purple-600: #4c1f99;
  --palette-purple-default: #6529cc;
  --palette-purple-400: #b294e5;
  --palette-purple-300: #d8c9f2;
  --palette-purple-200: #f0eafa;
  --palette-purple-100: #f7f4fc;
  --palette-sky-default: #2e8de6;
  --palette-sky-900: #02070c;
  --palette-sky-800: #0e2a45;
  --palette-sky-700: #153f68;
  --palette-sky-600: #236aac;
  --palette-sky-400: #96c6f3;
  --palette-sky-300: #cbe3f9;
  --palette-sky-200: #eaf4fc;
  --palette-sky-100: #f5f9fe;
  --palette-foundation-white-primary: #ffffff;
  --palette-foundation-black-primary: #000000;
  --palette-foundation-black-secondary: #00000080;
  --palette-foundation-white-secondary: #ffffff80;
  --palette-foundation-white-tetriary: #ffffff33;
  --palette-foundation-black-tetriary: #00000033;
  --palette-foundation-white-08: #ffffff14;
  --palette-foundation-white-04: #ffffff0a;
  --palette-foundation-black-08: #00000014;
  --palette-foundation-black-04: #0000000a;
}
